USE [master]
GO
/****** Object:  Database [GestionLogisticaDB]    Script Date: 24/08/2023 2:29:19 p. m. ******/
CREATE DATABASE [GestionLogisticaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionLogisticaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GestionLogisticaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionLogisticaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GestionLogisticaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionLogisticaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionLogisticaDB]
GO
/****** Object:  Table [dbo].[Bodega]    Script Date: 24/08/2023 2:29:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bodega](
	[BodegaId] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionBodega] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Bodega] PRIMARY KEY CLUSTERED 
(
	[BodegaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 24/08/2023 2:29:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClienteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Cedula] [nvarchar](20) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Direccion] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guia]    Script Date: 24/08/2023 2:29:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guia](
	[GuiaId] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[FechaEntrega] [datetime] NOT NULL,
	[BodegaId] [int] NOT NULL,
	[TipoGuiaId] [int] NOT NULL,
	[Consecutivo] [nvarchar](10) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[NumeroGuia] [nvarchar](10) NULL,
 CONSTRAINT [PK_Guia] PRIMARY KEY CLUSTERED 
(
	[GuiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guia_Producto]    Script Date: 24/08/2023 2:29:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guia_Producto](
	[GuiaProductoId] [int] IDENTITY(1,1) NOT NULL,
	[GuiaId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[CantidadProducto] [int] NOT NULL,
	[DescripcionGuiaProducto] [nvarchar](250) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[PrecioEnvio] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Guia_Producto] PRIMARY KEY CLUSTERED 
(
	[GuiaProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 24/08/2023 2:29:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[ProductoId] [int] IDENTITY(1,1) NOT NULL,
	[TipoProductoId] [int] NOT NULL,
	[DescripcionProducto] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuestum]    Script Date: 24/08/2023 2:29:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuestum](
	[IdRespuesta] [int] NOT NULL,
	[CodigoRespuesta] [int] NOT NULL,
	[IdIdioma] [int] NOT NULL,
	[MensajeRespuesta] [nvarchar](100) NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Respuestum] PRIMARY KEY CLUSTERED 
(
	[IdRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoGuia]    Script Date: 24/08/2023 2:29:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoGuia](
	[TipoGuiaId] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionTipoGuia] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_TipoGuia] PRIMARY KEY CLUSTERED 
(
	[TipoGuiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoProducto]    Script Date: 24/08/2023 2:29:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoProducto](
	[TipoProductoId] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionTipoProducto] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_TipoProducto] PRIMARY KEY CLUSTERED 
(
	[TipoProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bodega] ON 

INSERT [dbo].[Bodega] ([BodegaId], [DescripcionBodega], [Activo]) VALUES (1, N'Sur', 1)
INSERT [dbo].[Bodega] ([BodegaId], [DescripcionBodega], [Activo]) VALUES (2, N'Norte', 1)
INSERT [dbo].[Bodega] ([BodegaId], [DescripcionBodega], [Activo]) VALUES (3, N'Cúcuta', 1)
SET IDENTITY_INSERT [dbo].[Bodega] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ClienteId], [Nombre], [Apellido], [Cedula], [Telefono], [Direccion]) VALUES (1, N'Jairo', N'Sanabria', N'10614895', N'3044601189', N'Calle siempre viva')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Guia] ON 

INSERT [dbo].[Guia] ([GuiaId], [ClienteId], [FechaEntrega], [BodegaId], [TipoGuiaId], [Consecutivo], [FechaRegistro], [NumeroGuia]) VALUES (1, 1, CAST(N'2023-08-24T00:00:00.000' AS DateTime), 2, 1, N'619JSM', CAST(N'2023-08-23T00:00:00.000' AS DateTime), N'1234567891')
SET IDENTITY_INSERT [dbo].[Guia] OFF
GO
SET IDENTITY_INSERT [dbo].[Guia_Producto] ON 

INSERT [dbo].[Guia_Producto] ([GuiaProductoId], [GuiaId], [ProductoId], [CantidadProducto], [DescripcionGuiaProducto], [FechaRegistro], [PrecioEnvio]) VALUES (3, 1, 2, 2, N'Buen Estado', CAST(N'2023-02-16T00:00:00.000' AS DateTime), CAST(3200.00 AS Decimal(18, 2)))
INSERT [dbo].[Guia_Producto] ([GuiaProductoId], [GuiaId], [ProductoId], [CantidadProducto], [DescripcionGuiaProducto], [FechaRegistro], [PrecioEnvio]) VALUES (4, 1, 2, 2, N'Buen Estado', CAST(N'2023-02-16T00:00:00.000' AS DateTime), CAST(32000.00 AS Decimal(18, 2)))
INSERT [dbo].[Guia_Producto] ([GuiaProductoId], [GuiaId], [ProductoId], [CantidadProducto], [DescripcionGuiaProducto], [FechaRegistro], [PrecioEnvio]) VALUES (5, 1, 3, 2, N'Buen Estado', CAST(N'2023-02-16T00:00:00.000' AS DateTime), CAST(56000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Guia_Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([ProductoId], [TipoProductoId], [DescripcionProducto], [Activo], [Precio]) VALUES (2, 5, N'Nevera', 1, CAST(3500000.00 AS Decimal(18, 2)))
INSERT [dbo].[Producto] ([ProductoId], [TipoProductoId], [DescripcionProducto], [Activo], [Precio]) VALUES (3, 2, N'froot loops', 1, CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[Producto] ([ProductoId], [TipoProductoId], [DescripcionProducto], [Activo], [Precio]) VALUES (4, 4, N'Sillas', 1, CAST(100000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoGuia] ON 

INSERT [dbo].[TipoGuia] ([TipoGuiaId], [DescripcionTipoGuia], [Activo]) VALUES (1, N'Maritima', 1)
INSERT [dbo].[TipoGuia] ([TipoGuiaId], [DescripcionTipoGuia], [Activo]) VALUES (2, N'Terrestre', 1)
SET IDENTITY_INSERT [dbo].[TipoGuia] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoProducto] ON 

INSERT [dbo].[TipoProducto] ([TipoProductoId], [DescripcionTipoProducto], [Activo]) VALUES (1, N'Grano', 1)
INSERT [dbo].[TipoProducto] ([TipoProductoId], [DescripcionTipoProducto], [Activo]) VALUES (2, N'Cereal', 1)
INSERT [dbo].[TipoProducto] ([TipoProductoId], [DescripcionTipoProducto], [Activo]) VALUES (3, N'Aceite', 1)
SET IDENTITY_INSERT [dbo].[TipoProducto] OFF
GO
ALTER TABLE [dbo].[Guia] ADD  CONSTRAINT [DF_Guia_NumeroGuia]  DEFAULT (N'newid()') FOR [NumeroGuia]
GO
ALTER TABLE [dbo].[Guia]  WITH CHECK ADD  CONSTRAINT [FK_Guia_Bodega] FOREIGN KEY([BodegaId])
REFERENCES [dbo].[Bodega] ([BodegaId])
GO
ALTER TABLE [dbo].[Guia] CHECK CONSTRAINT [FK_Guia_Bodega]
GO
ALTER TABLE [dbo].[Guia]  WITH CHECK ADD  CONSTRAINT [FK_Guia_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([ClienteId])
GO
ALTER TABLE [dbo].[Guia] CHECK CONSTRAINT [FK_Guia_Cliente]
GO
ALTER TABLE [dbo].[Guia]  WITH CHECK ADD  CONSTRAINT [FK_Guia_TipoGuia] FOREIGN KEY([TipoGuiaId])
REFERENCES [dbo].[TipoGuia] ([TipoGuiaId])
GO
ALTER TABLE [dbo].[Guia] CHECK CONSTRAINT [FK_Guia_TipoGuia]
GO
ALTER TABLE [dbo].[Guia_Producto]  WITH CHECK ADD  CONSTRAINT [FK_Guia_Producto_Guia] FOREIGN KEY([GuiaId])
REFERENCES [dbo].[Guia] ([GuiaId])
GO
ALTER TABLE [dbo].[Guia_Producto] CHECK CONSTRAINT [FK_Guia_Producto_Guia]
GO
ALTER TABLE [dbo].[Guia_Producto]  WITH CHECK ADD  CONSTRAINT [FK_Guia_Producto_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([ProductoId])
GO
ALTER TABLE [dbo].[Guia_Producto] CHECK CONSTRAINT [FK_Guia_Producto_Producto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_TipoProducto] FOREIGN KEY([TipoProductoId])
REFERENCES [dbo].[TipoProducto] ([TipoProductoId])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_TipoProducto]
GO
USE [master]
GO
